{{ define "Description" }}

{{end}}


{{ define "main" }}


<body>


    <script src="js/vanilla-back-to-top.min.js"></script>
    <script>addBackToTop({
    diameter: 56,
    backgroundColor: 'rgb(23, 72, 152)',
    textColor: '#fff'
      })
    </script>



  <div class="container">
    

    <br/><br/>

    <div class="row">
    
      
      
      <div class="col-md-7 col-sm-12 mymarginright">

        <h3 class="tbh3">A Formal Introduction</h3>
        <br/>
  
      <p class="myptag" align="justify">
        Die Entwicklung von KI-Lösungen in der Industrie ist komplex, zeit- und kostenintensiv. Das
        hemmt Innovationen und könnte den breiten Einsatz und Erfolg von künstlicher Intelligenz (KI) in
        der deutschen Industrie insgesamt gefährden. Neben den reinen Kosten für eine
        Neuentwicklung fehlt es oft auch am nötigen Know-How und an Trainingsdaten in geeigneter
        Qualität und Quantität. Lösungsansätze sind z.B. die Erforschung neuer, allgemeiner
        einsetzbarer KI-Techniken (sog. Foundation Models) und der Einsatz von Modellsammlungen
        (sog. Model Hubs), die vortrainierte KI-Modelle für verschiedene Probleme, z.B.
        Bild-Klassifikationen und Audioverarbeitung basierend auf Standarddaten anbieten.
        In der Industrie werden aber oft Speziallösungen benötigt, die Spezialdaten mit spezifischen,
        sensorabhängigen Charakteristika verarbeiten können, z.B. ein spezielles Rauschverhalten, um
        spezifische Ziele zuverlässig zu erfüllen, z.B. die Vorhersage von Wartungsintervallen in der
        Messtechnik. Gleichzeitig stehen – je nach Zielprodukt – unterschiedliche Hardware-Ressourcen
        zur Ausführung der KI-Lösung zur Verfügung. Existierende KI-Lösungen können daher oft nicht
        direkt eingesetzt werden und es wird – selbst für ähnliche Aufgabenstellungen – für jeden
        Einsatzzweck und jede Produktvariante eine neue KI entwickelt und trainiert.
        </p>
        
        
        <h4 class="tbh4">A heading here...</h4>
        <p class="myptag" align="justify">
        <br>Die zentrale Frage dieses Projekts ist daher, wie kann die Wiederverwendbarkeit von
        KI-Lösungen in der Industrie erhöht werden, um es Unternehmen so zu erlauben, eine einmal
        entwickelte KI schnell und kosteneffizient in neue Systeme (z.B. neue Wasserwerke oder
        Produktionsanlagen) und neue Produktvarianten oder -generationen (z.B. neue Messgeräte) zu
        übertragen? Dies bezeichnen wir als Transferierbarkeit. Hierzu sollen Ansätze und Verfahren
        erforscht sowie gemeinschaftlich nutzbare freie Werkzeuge zur Verfügung gestellt werden.
        Daneben wollen wir auch die Grenzen der Transferierbarkeit untersuchen. 
        </p>
        <h4 class="tbh4">Let's put another heading here...</h4>
        <p class="myptag" align="justify">
          Methodischer Ausgangspunkt des Projekts sind (1) Ansätze zur Übertragung erlernten
          Wissens auf neue Probleme bzw. Modelle (sog. Transfer Learning) sowie (2) Ansätze zur
          automatisierten Optimierung von KI-Modellen (sog. AutoML). Diese sollen weiterentwickelt und
          für industrielle Anwender nutzbar gemacht werden.
        </p>
        <h4 class="tbh4">Here is yet another heading...</h4>
        <p class="myptag" align="justify">
          <br> Für die Evaluation verwenden wir
          existierende KI-Lösungen und Trainingsdaten von verschiedenen Industriepartnern. Im
          Rahmen der Weiterentwicklung dieser Lösungen gewinnen wir wichtige Erfahrungen für die
          Anwendbarkeit der entwickelten Methoden in realen Projekten. </p>
        <h4 class="tbh4">Et Cetra...</h4>
        <p class="myptag" align="justify">
          In vel laoreet ipsum, non feugiat augue. Suspendisse porttitor lorem nec tellus consectetur, nec varius leo venenatis. Curabitur id finibus ipsum. Nam id odio egestas ipsum pellentesque tempus vel nec orci. Suspendisse et ultricies ligula. Maecenas mauris odio, fermentum vel blandit et, molestie faucibus leo. Duis diam neque, suscipit ut mattis non, scelerisque at enim. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          <br/><br/>
          If you want to see another demo of this theme, then please visit:	
          <br><br>
          </p>
          <p align="center">
          <strong><a href="http://www.tatsatbanerjee.in">www.tatsatbanerjee.in</a></strong> <br/><br/>
          </p>
          <p class="myptag" align="justify">
          And last, but not the least quick point to mention: Thanks a ton for visiting this Hugo theme demo page!! Always feel free to fork the project! 
          </p>

      
      </div>
			
      <div class="col-md-5 col-sm-12 mymarginleft">
        <h3 class="tbh3">A Few (informal) Snapshots</h3>
			
			
			<h4 class="text-nowrap tbh4"><br/>Das Team<br/></h4>
			      <div class="polaroid">
                  
                      <img src="Images/Team.jpg" style="height: 350px" width="500" alt="Gruppenphoto" />
                      <p style="left: 0px; bottom: 50px; width: 92%">blablabla</p>
                  </div>
			
			<h4 class="tbh4"><br/><br/>Ansprechpartner<br/></h4>
			
			
				<b><u>Universität Duisburg-Essen</u></b>
        <p><b>Intelligente Eingebettete Systeme</b><br>
				<a href="gregor.schiele@uni-due.de"> Prof. Dr. rer. nat. Gregor Schiele</a></p>
        <p><b>Verteilte Systeme</b> <br>		
				<a href="torben.weis@uni-due.de"> Prof. Dr.-Ing. Torben Weis</a></p>
				

				<b><u>HARTING Stiftung & Co. KG </u></b><br>
				<a href="julia.froehlich@harting.com"> Dr. Julia Fröhlich</a></p>
				
        <b><u>Krohne Messtechnik GmbH </u></b><br>
				<a href="d.dirzus@krohne.com"> Dr.-Ing. Dagmar Dirzus</a></p>

        <b><u>Kuntze Instruments GmbH</u></b><br>
				<a href="fabian.kruse@kuntze.com"> Dr. rer. nat. Fabian Kruse</a></p>	
			
<h4 class="tbh4"></h4>

			<ul>
			<br>
      <a href="https://www.bmbf.de/bmbf/de/home/home_node.html" target="_blank">
        <img src="Images/BMBF.png" alt="BMBF" style="width:400px; height:400x;"></a>
			</ul>




      </div>
     





    </div>
    
    
    </body>
    
    
    
{{ end }}
